---
import { getCollection } from "astro:content";
import Container from "~/components/Container.astro";
import FormattedDate from "~/components/FormattedDate.astro";
import Layout from "~/layouts/Layout.astro";

const posts = (await getCollection("blog")).sort((a, b) => {
  return a.data.datePublished < b.data.datePublished ? 1 : -1;
});

const latest = posts[0];

const remaining = posts.filter((post) => post.slug !== latest.slug);

const categories = posts.reduce<string[]>((acc, post) => {
  for (const category of post.data.tags) {
    if (!acc.includes(category)) {
      acc.push(category);
    }
  }
  return acc;
}, []);
---

<Layout title="blog." description="my blog with all my posts.">
  <Container class="mt-4 lg:mt-8">
    <h1>my blog.</h1>
    <!-- <p class="mt-4">feel free to filter by category to find something you actually might find interesting.</p>
    <nav>
      <ul class="p-0 m-0">
        {
          categories.map((category) => {
            return (
              <li class="items-baseline text-zinc-400 flex flex-row gap-x-4 list-none px-0 py-2">
                <a href={`/blog/category/${category}`}>{category}</a>
                <span />
              </li>
            );
          })
        }
      </ul>
    </nav> -->

    <section>
      <h2>latest.</h2>
      <ul class="mt-4 p-0 divide-y divide-zinc-50 dark:divide-zinc-800 gap-y-4">
        <li class="items-baseline text-zinc-400 flex flex-row gap-x-4 list-none px-0 py-2">
          <FormattedDate class="text-sm" date={latest.data.datePublished} />
          <a href={`/blog/${latest.slug}`}>{latest.data.title}</a>
          <span></span>
        </li>
      </ul>
      {remaining.length > 0 ? <h2>the rest.</h2> : null}
      <ul class="mt-4 p-0 divide-y divide-zinc-50 dark:divide-zinc-800 gap-y-4">
        {
          remaining.map((post) => {
            return (
              <li class="items-baseline text-zinc-400 flex flex-row gap-x-4 list-none px-0 py-2">
                <FormattedDate class="text-sm" date={post.data.datePublished} />
                <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                <span />
              </li>
            );
          })
        }
      </ul>
    </section>
  </Container>
</Layout>
