---
import type { InferGetStaticPropsType } from "astro";
import { type Props as AstroSEOProps } from "astro-seo";
import { Schema } from "astro-seo-schema";
import { getEntry } from "astro:content";
import Container from "~/components/Container.astro";
import Layout from "~/layouts/Layout.astro";
import type { getStaticPaths } from "~/pages/blog/[...slug].astro";

type Props = InferGetStaticPropsType<typeof getStaticPaths> & AstroSEOProps;

const { slug } = Astro.params;
const { post } = Astro.props;
const frontmatter = post.data;
const authors = await Promise.all(post.data.authors.map((author) => getEntry(author)));
---

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    headline: frontmatter.metaTitle ?? frontmatter.title,
    name: frontmatter.metaTitle ?? frontmatter.title,
    description: frontmatter.metaDescription ?? frontmatter.description,
    image: frontmatter.coverImage
      ? {
          "@type": "ImageObject",
          url: frontmatter.coverImage.src,
          width: `${frontmatter.coverImage.width}`,
          height: `${frontmatter.coverImage.height}`,
        }
      : undefined,
    datePublished: new Date(frontmatter.datePublished).toISOString(),
    dateModified: frontmatter.dateModified ? new Date(frontmatter.dateModified).toISOString() : undefined,
    author: authors.map((author) => {
      return {
        "@type": "Person",
        birthPlace: author.data.birthPlace
          ? {
              "@type": "Place",
              address: author.data.birthPlace.address,
            }
          : undefined,
        birthDate: author.data.birthDate ? new Date(author.data.birthDate).toISOString() : undefined,
        familyName: author.data.familyName,
        givenName: author.data.givenName,
        image: author.data.image ? author.data.image.src : undefined,
      };
    }),
    isPartOf: {
      "@type": "Blog",
      "@id": `/blog`,
      name: "amos' blog.",
    },
    url: `/${slug}`,
  }}
/>
<Schema
  item={{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    itemListElement: [
      {
        "@type": "ListItem",
        position: 1,
        name: "amos.",
        item: `https://amosbastian.com/`,
      },
      {
        "@type": "ListItem",
        position: 2,
        name: "blog.",
        item: `https://amosbastian.com/blog/`,
      },
      {
        "@type": "ListItem",
        position: 2,
        name: frontmatter.title,
        item: `https://amosbastian.com/blog/${slug}/`,
      },
    ],
  }}
/>

<Layout
  title={frontmatter.metaTitle}
  description={frontmatter.metaDescription}
  openGraph={{
    article: {
      authors: authors.map((author) => `${author.data.givenName} ${author.data.familyName}`),
      publishedTime: new Date(frontmatter.datePublished).toISOString(),
      modifiedTime: frontmatter.dateModified ? new Date(frontmatter.dateModified).toISOString() : undefined,
      section: frontmatter.tags ? frontmatter.tags[0] : undefined,
    },
    basic: {
      title: frontmatter.metaTitle ?? frontmatter.title,
      type: "article",
      image: frontmatter.coverImage.src,
    },
    image: {
      alt: frontmatter.title,
      height: frontmatter.coverImage.height,
      width: frontmatter.coverImage.width,
      type: `image/${frontmatter.coverImage.format}`,
      url: frontmatter.coverImage.src,
    },
  }}
  }
>
  <Container>
    <div class="flex flex-row justify-between items-center">
      <h1>{frontmatter.title}</h1>
      <time class="text-xs" datetime={new Date(frontmatter.datePublished).toISOString()}>
        {
          new Date(frontmatter.datePublished).toLocaleDateString("en-US", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }{frontmatter.dateModified ? "*" : ""}</time
      >
    </div>
    <slot />
  </Container>
</Layout>
